{% extends 'base.html' %} 

{% block title %} Add Pet Form {% endblock %}

{% block content %} 
    <div class="container">
    
    <h1 class="display-1 text-center">Pets</h1>
    <div class="text-center">
      <a class="btn btn-info" href="/add">Add A Pet</a>
    </div>
    {% for pet in pets %}
    
      <div class="col-md-6">
        <h4 class="display-5"><a href="/{{pet.id}}">{{pet.name}}</a></h4>
        <img class="img-thumbnail img-fluid" src="{{pet.photo_url}}" alt="">
        {% if pet.available == True %}
        <div class="text-center">
          <b class="text-info">Available!</b>
        </div>
        {% endif %}
      </div>
    
    {% endfor %}
  </div>
{% endblock %}